package main

import (
	"os"
	"path/filepath"
	"runtime"
)

var version = "0.1.0"

type Config struct {
	Transport string
}

func configDir() string {
	home, err := os.UserHomeDir()
	if err != nil {
		home = "."
	}
	switch runtime.GOOS {
	case "linux":
		return filepath.Join(home, ".config", "${BinaryName}")
	case "darwin":
		return filepath.Join(home, "Library", "Application Support", "${BinaryName}")
	default:
		return filepath.Join(home, ".${BinaryName}")
	}
}

func dataDir() string {
	home, err := os.UserHomeDir()
	if err != nil {
		home = "."
	}
	switch runtime.GOOS {
	case "linux":
		return filepath.Join(home, ".local", "share", "${BinaryName}")
	case "darwin":
		return filepath.Join(home, "Library", "Application Support", "${BinaryName}")
	default:
		return filepath.Join(home, ".${BinaryName}")
	}
}
