package mcpserver

import (
	"os"

	"${ModulePath}/internal/app"
)

func ConfigFromEnv() Config {
	return Config{
		Version: os.Getenv("VERSION"),
		App:     appConfigFromEnv(),
	}
}

func appConfigFromEnv() app.Config {
	return app.Config{
		Version: version,
	}
}
